{% extends 'bases/weggo_v1_base.html' %}

{% block css %}
{% endblock %}

{% block content %}
{% for i in forum.posts %}
{% if i.slug == post_slug %}

{% set author = ws.db.users.find_one({'username': i.author}) %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<section id="messages" class="container">
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}} {{email}}
    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</section>
{% endfor %}
{% endif %}
{% endwith %}

<section id="weggo-forums-header">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Comunidad</a></li>
            <li class="breadcrumb-item"><a href="{{url_for('public.forums', slug=forum.slug)}}">{{forum.details.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{i.title}}</li>
            </ol>
        </nav>
        <div class="d-flex mb-1">
            <h1 class="h6 mb-0">{{i.title}}</h1>
            <div class="ms-auto">
                <strong class="me-md-3 text-light">{{i.comments|count}} <i class="bx bx-message-square-dots ms-1"></i></strong>
                <strong class=""><button class="btn p-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dar un leaf">4 <i class="fas fa-leaf ms-1"></i></button</strong>
            </div>
        </div>

        <div class="d-flex">
            <span class="fs-xs">
                Comparte esta publicación en redes:
            </span>
            <span class="ms-4">
                <a href="#" class="text-light fs-lg me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compartir en Instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="text-light fs-lg me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compartir en Facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="text-light fs-lg me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compartir en LinkedIn"><i class="bx bxl-linkedin"></i></a>
                <a href="#" class="text-light fs-lg me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compartir en Twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="text-light fs-lg me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compartir en Reddit"><i class="bx bxl-reddit"></i></a>
                <a href="#" class="text-light fs-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compartir en Pinterest"><i class="bx bxl-pinterest"></i></a>
            </span>
        </div>
    </div>
</section>

<style>
    .nav-link:hover {
        color: #fd7e14 !important;
    }
</style>

<section id="weggo-forum-article" class="container p-2">
    <article class="card shadow-md rounded-bottom-0 border-bottom overflow-hidden bg-white">
        <div class="row g-0">
          <div class="col-sm-2">
            <div class="card-header border-0 bg-gradient-primary my-3 rounded text-center align-items-center">
                <img src="{{url_for('static',filename='img/avatars/anonymous.png')}}" class="rounded-circle mb-2" width="60" alt="Usuario" style="min-width: 3rem"><br>
                {% if author.access.type == 'administrator' %}
                <span class="badge text-white bg-danger position-relative">Administrador</span><br>
                {% elif author.access.type == 'collaborator' %}
                <span class="badge text-white bg-warning position-relative">Colaborador</span><br>
                {% endif %}
                <a href="/u/{{author.username}}" class="btn btn-lg p-0 m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver perfil del usuario" style="padding-bottom:-2rem;">{{author.username}}</a>
                <div class="">
                    <strong class="me-2"><span class="text-light fs-sm p-0">425 <i class="fas fa-leaf ms-1"></i></span></strong>
                    <strong><span class="text-light fs-sm p-0">1.257 <i class="bx bx-comment-dots ms-1"></i></span></strong>
                </div>
                <span class="fs-xs text-light p-0 m-0">Se unió en {{author.created.strftime('%b de %Y')}}</span>
            </div>
            <div class="card-body mt-0 pt-0">
                <div class="border-0 rounded">
                    {% for b in i.tags %}
                    <a href="#" class="ms-1 fs-xs">#{{b}}</a>
                    {% endfor %}
                </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <a href="#" class="badge fs-sm text-dark">{{i.section}}</a>
                <span class="fs-xs border-start ps-3 ms-3">
                    Hace

                    {% set time = now-i.created %}
    
                    {{ str(((now-i.created).seconds/60)|round)[0:1]+' minutos' if time.days == 0 and 10 > (time.seconds)/60 > 0}}
                    {{ str(((now-i.created).seconds/60)|round)[0:2]+' minutos' if time.days == 0 and 60 > (time.seconds)/60 >= 10}}
                    {{ '1 hora y '+str(((now-i.created).seconds/60)-60|round)[0:1]+' minutos' if time.days == 0 and 70 > (time.seconds)/60 > 60}}
                    {{ '1 hora y '+str(((now-i.created).seconds/60)-60|round)[0:2]+' minutos' if time.days == 0 and 120 > (time.seconds)/60 >= 70}}
                    {{ str(((now-i.created).seconds/3600)|round)[0]+' horas' if time.days == 0 and 720 > (time.seconds)/60 > 120}}
                    {{ str(((now-i.created).seconds/3600)|round)[0:2]+' horas' if time.days == 0 and (time.seconds)/60 > 720}}
                    
                    {{ '1 día' if 2 > time.days > 0 }}
                    {{ str(time.days)+' días' if time.days > 1 }}
                </span>
              </div>
              <div id="text-body">
                {{i.body|safe}}
              </div>
              <hr class="my-4">
            <div class="d-flex align-items-center text-muted">
                <div class="d-flex align-items-center me-3">
                    <i class="bx bx-like fs-lg me-1"></i>
                    <span class="fs-sm">8</span>
                </div>
                <div class="d-flex align-items-center me-3">
                    <i class="bx bx-comment fs-lg me-1"></i>
                    <span class="fs-sm">7</span>
                </div>
                <div class="d-flex align-items-center">
                    <i class="bx bx-share-alt fs-lg me-1"></i>
                    <span class="fs-sm">4</span>
                </div>
                <div class="ms-auto">
                    {% if wUser.not_login %}
                    {% else %}
                        {% if wUser and wUser.username == author.username %}
                        {% else %}
                        <a href="#createComment" class="btn bg-gradient-primary align-items-center border-0" data-scroll>
                            <div class="d-none d-md-block me-2">Comentar publicación</div>
                            <i class="bx bx-comment-dots"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                    </div>
            </div>
            </div>
          </div>
        </div>
    </article>

    <div id="weggo-forum-answers" class="card border-0">
        {% for b in i.comments %}
        <article id="{{b.comment}}" class="border-bottom bg-white shadow-md overflow-hidden">
            <div class="row g-0">
              <div class="col-sm-3">
                <div class="card-header border-0 ">
                    <div class="row">
                        {% set comment_author = ws.db.users.find_one({'username': b.author }) %}
                        <div class="col-md-4">
                            {% if comment_author.profile.avatar %}
                            <img src="{{url_for('static',filename='img/avatars/11.jpg')}}" class="rounded-circle mb-2" width="60" alt="Usuario" style="min-width: 3rem">
                            {% else %}
                            <img src="{{url_for('static',filename='img/avatars/anonymous.png')}}" class="rounded-circle mb-2" width="60" alt="Avatar de {{b.author}}" style="min-width: 3rem">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <!--<span class="badge bg-warning position-relative">Usuario TOP</span><br>-->
                            <a href="/u/{{b.author}}" class="text-dark btn btn-lg p-0 m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver perfil del usuario" style="padding-bottom:-2rem;"> {{b.author}}</a>
                            <div class="d-flex">
                                <strong class="me-2"><button class="text-dark btn p-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dar un leaf">50 <i class="fas fa-leaf ms-1"></i></button></strong>
                                <strong><button class="text-dark btn p-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dar un leaf">4 <i class="bx bx-comment-dots ms-1"></i></button></strong>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="card-body pt-2 pb-2">
                    <span class="fs-xs">
                        Hace
    
                        {% set time = now-b.created %}
        
                        {{ str(((now-b.created).seconds/60)|round)[0:1]+' minutos' if time.days == 0 and 10 > (time.seconds)/60 > 0}}
                        {{ str(((now-b.created).seconds/60)|round)[0:2]+' minutos' if time.days == 0 and 60 > (time.seconds)/60 >= 10}}
                        {{ '1 hora y '+str(((now-b.created).seconds/60)-60|round)[0:1]+' minutos' if time.days == 0 and 70 > (time.seconds)/60 > 60}}
                        {{ '1 hora y '+str(((now-b.created).seconds/60)-60|round)[0:2]+' minutos' if time.days == 0 and 120 > (time.seconds)/60 >= 70}}
                        {{ str(((now-b.created).seconds/3600)|round)[0]+' horas' if time.days == 0 and 720 > (time.seconds)/60 > 120}}
                        {{ str(((now-b.created).seconds/3600)|round)[0:2]+' horas' if time.days == 0 and (time.seconds)/60 > 720}}
                        
                        {{ '1 día' if 2 > time.days > 0 }}
                        {{ str(time.days)+' días' if time.days > 1 }}
                    </span>
                    <p>{{b.comment}}</p>
                    <div class="d-flex m-0">
                        <a href="#" class="ms-auto nav-link fs-sm me-3">
                            <i class="bx bx-share fs-lg me-2"></i>
                            Responder
                        </a>
                    </div>
                </div>
              </div>
            </div>
        </article>
        {% endfor %}

        <div id="createComment"></div>
        {% if wUser.not_login %}
        <div class="border-bottom bg-gradient-primary shadow-md overflow-hidden">
            <div class="row g-0" style="background-image: url(../../../static/img/landing/digital-agency/contact-bg.png);">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                    <a href="#register" data-bs-toggle="modal" class="nav-link"><h3 class="h6"></h3>¡Únete a la comunidad para participar en la conversación!</h3></a>
                </div>
              </div>
            </div>
        </div>
        {% else %}
            {% if wUser and wUser.username == author.username %}
            {% else %}
            <div class="bg-white shadow-md overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-3"></div>
                    <div class="col col-md-7">
                        <div class="card-body">
                            <label class="form-label fs-lg text-dark" for="post-comment">Comentar la publicación</label>
            
                            <form action="{{url_for('auth.forum_post_comment_create', forum=forum.slug, post=i.slug)}}" class="needs-validation input-group bg-dark rounded" method="POST" novalidate>
                                <span class="input-group-text border border-color">
                                <i class="bx bx-message fs-lg"></i>
                                </span>
                                <textarea class="form-control border border-color" name="comment_body" placeholder="Escribe aquí.." minlength="20" rows="3" required></textarea>
                                <span class="input-group-text border border-color">
                                    <button type="submit" class="ms-auto btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Enviar comentario">
                                        <i class="bx bx-send fs-lg"></i>
                                    </button>
                                </span>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
        


        <!-- Pagination with prev / next icons only -->
        <div class="d-flex g-0 py-2">
            <nav class="ms-auto bg-pi" aria-label="Page navigation example">
                <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link">
                    <i class="bx bx-chevron-left mx-n1"></i>
                    </a>
                </li>
                <li class="page-item disabled d-sm-none">
                    <span class="page-link text-body">2 / 5</span>
    
                </li>
                <li class="page-item d-none d-sm-block">
                    <span href="#" class="page-link active">1</span>
                </li>
                <li class="page-item d-none d-sm-block" aria-current="page">
                    <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">4</a>
                </li>
                <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">5</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">
                    <i class="bx bx-chevron-right mx-n1"></i>
                    </a>
                </li>
                </ul>
            </nav>
        </div>  
    </div>


</section>

{% endif %}
{% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block newsletter %}
{% endblock %}