{% extends 'bases/weggo_v1_base.html' %}

{% block header %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block main %}
      <main id="content" role="main" class="">
        <div class="position-fixed top-0 right-0 left-0 bg-img-hero" style="height: 32rem; background-color: #111212">
          <!-- SVG Bottom Shape -->
          <figure class="position-absolute right-0 bottom-0 left-0" style="border:none">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
              <polygon fill="#fff" points="0,273 1921,273 1921,0 "/>
            </svg>
          </figure>
          <!-- End SVG Bottom Shape -->
        </div>

        <!-- Content -->
        <div class="container py-5">
          <a class="d-flex justify-content-center mb-5" href="{{url_for('public.index')}}">
            <img class="z-index-2" src="{{url_for('static', filename='svg/logos/logo-white.svg')}}" alt="Image Description" style="width: 10rem;">
          </a>

          <div class="row justify-content-center">
            <div class="col-md-5 col-lg-5">
              <!-- Card -->
              <div class="card card-lg mb-5">
                <div class="card-body">
                  <div class="container">
                    <div class="row no-gutters">
                      <div class="col-md-12">
                    
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <section id="messages" class="container">
                          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                            {{message}} {{email}}
                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        </section>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <!-- Form -->
                        <div class="">
                            <!-- Form -->
                            <form action="{{url_for('api.login')}}" method="post" class="needs-validation" novalidate>

                            <!-- Title -->
                            <div class="mb-5 mb-md-7">
                                <h1 class="h2">Bienvenido de nuevo</h1>
                                <p>Conéctate a tu cuenta para continuar.</p>
                            </div>
                            <!-- End Title -->
                            
                            <!-- Form Group -->
                            <div class="mb-4">
                              <label class="form-label mb-2" for="signin-email">Correo electrónico o usuario</label>
                              <input class="form-control" type="text" name="email_or_username" id="signin-email" placeholder="john.doe@example.com / johndoe_0" required>
                            </div>
                            <!-- End Form Group -->
                
                            <!-- Form Group -->
                            <div class="mb-4">
                              <div class="d-flex align-items-center justify-content-between mb-2">
                                <label class="form-label mb-0" for="signin-password">Contraseña</label><a class="fs-xs" href="{{url_for('auth.recover')}}">Recuperar contraseña</a>
                              </div>
                              <div class="password-toggle">
                                <input class="form-control" type="password" id="signin-password" name="password" placeholder="************" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                </label>
                              </div>
                            </div>                            <!-- End Form Group -->
                
                            <!-- Button -->
                            <div class="row align-items-center ">
                                <div class="col-sm-6 m-2 mb-sm-0">
                                  <span class="font-size-1 text-muted">¿Aún no tienes una cuenta?</span>
                                  <div class="row d-flex">
                                    <a class="font-size-1 font-weight-bold" href="{{ url_for('auth.register') }}">Regístrate</a>
                                  </div>
                                </div>
                
                                <div class="row mt-5 mb-0">
                                <button type="submit" class="btn btn-sm rounded-pill btn-primary">Continuar</button>
                                </div>
                            </div>
                            <!-- End Button -->
                            </form>
                            <!-- End Form -->
                        </div>
                        <!-- End Form -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
          </div>
        </div>
        <!-- End Content -->
      </main>

      {% block page_js %}
      <!-- JS Global Compulsory  -->
      <script src="{{url_for('static',filename='vendor/jquery-validation/dist/jquery.validate.min.js')}}"></script>
      {% endblock %}

      {% block scripts %}
      <!-- JS Plugins Init. -->
      <script>
        $(document).on('ready', function () {

          // INITIALIZATION OF FORM VALIDATION
          // =======================================================
          $('.js-validate').each(function() {
            $.HSCore.components.HSValidation.init($(this), {
              rules: {
                confirmPassword: {
                  equalTo: '#signupPassword'
                }
              }
            });
          });
        });

        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="{{url_for("static",filename="vendor/babel-polyfill/polyfill.min.js")}}"><\/script>');
      </script>
      {% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}