{% extends 'bases/weggo_v1_base.html' %}

  {% block navbar %}
  {% endblock %}

  {% block header %}
  <header class="header navbar navbar-light navbar-expand-lg position-absolute navbar-sticky">
    <div class="container px-3 pt-0">
      <a href="/" class="navbar-brand pe-3">
        <img src="{{url_for('static',filename='svg/logos/logo.svg')}}" width="110" alt="Weggo">
      </a>
      <div id="navbarNav" class="offcanvas offcanvas-end">
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Foros</a>
              <div class="dropdown-menu">
                <div class="d-sm-flex pt-lg-3">
                  {% if wForums[0:9] %}
                  <div class="mega-dropdown-column pt-lg-3 pb-lg-4">
                    <ul class="list-unstyled mb-0">
                      {% for i in wForums %}
                      <li><a href="{{url_for('public.forums', slug=i.slug)}}" class="dropdown-item">{{i.forum[0:24]}}..</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% elif wForums[9:18] %}
                  <div class="mega-dropdown-column pt-lg-3 pb-lg-4" style="--si-mega-dropdown-column-width: 16rem;">
                    <ul class="list-unstyled mb-0">
                      <li><a href="landing-financial.html" class="dropdown-item">Financial Consulting</a></li>
                    </ul>
                  </div>
                  {% elif wForums[18:27] %}
                  <div class="mega-dropdown-column pt-lg-3 pb-lg-4" style="--si-mega-dropdown-column-width: 16rem;">
                    <ul class="list-unstyled mb-0">
                      <li><a href="landing-financial.html" class="dropdown-item">Financial Consulting</a></li>
                    </ul>
                  </div>
                  {% endif %}
                </div>
              </div>
            </li>
          </ul>
        </div>   
      </div>
    </div>
  </header>
  {% endblock %}

  {% block body %}
  <section class="position-relative h-100 pt-5 pb-4">
    <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
      <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
        <!-- MESSAGES -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <section id="messages" class="">
          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{message}}
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </section>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="text-center text-xl-start">¡Bienvenido de nuevo!</h1>
        <p class="text-center text-xl-start pb-3 mb-3">¿Aún no tienes una cuenta? <a href="{{url_for('auth.register')}}">Regístrate aquí.</a></p>
        <form id="loginForm" action="{{url_for('api.login')}}" class="needs-validation" method="post" novalidate>
          <div class="position-relative mb-4">
            <label for="email" class="form-label fs-base">Nombre de usuario o email</label>
            <input type="text" id="accessOption" name="email_or_username" class="form-control form-control-lg" required>
            <div class="invalid-feedback position-absolute start-0 top-100">Introduce un acceso válido</div>
          </div>
          <div class="mb-4">
            <label for="password" class="form-label fs-base">Contraseña</label>
            <div class="password-toggle">
              <input type="password" id="password" name="password" class="form-control form-control-lg" required>
              <label class="password-toggle-btn" aria-label="Show/hide password">
                <input class="password-toggle-check" type="checkbox">
                <span class="password-toggle-indicator"></span>
              </label>
              <div class="invalid-feedback position-absolute start-0 top-100">Introduce una contraseña válida</div>
            </div>
          </div>
          <div class="mb-4">
            <div class="form-check">
              <input type="checkbox" id="remember" class="form-check-input">
              <label for="remember" class="form-check-label fs-base">Recordar contraseña</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Conectarme</button>
        </form>
        <a href="{{url_for('auth.recover')}}" class="btn btn-link btn-lg w-100">He olvidado mi contraseña</a>


      </div>
      <div class="w-100 align-self-end">
        <p class="nav d-block fs-xs text-center text-xl-start pb-2 mb-0">
          2023 &copy; Comunidad de campers. 
          <a class="nav-link d-inline-block p-0" href="https://weggo.es/" target="_blank" rel="noopener">Weggo España</a>
        </p>    
      </div>
    </div>
  
    <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" style="background-image: url(../../../static/img/bgs/night-bg.webp);"></div>
  </section>
  {% endblock %}

  {% block footer %}
  {% endblock %}
